# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt

# Django
*.sqlite3
db.sqlite3
*.log
staticfiles/        # we can skip versioning collected static files
media/              # user uploaded files

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# PyCharm
.idea/